.btn {
	padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.btn-secondary {
  background: var(--secondary);
  color: var(--primary);
}

.btn-main {
  display: flex;
  margin-top: 15px;
}

.btn-block {
  width: 50%;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
}

i {
  background: transparent;
  color: var(--primary);
  margin-left: 5px;
}


