.btn {
	padding: 10px 20px;
  border-radius: 10px;
}

.btn-primary {
  background-color: transparent;
  border: 1px solid var(--primary);
  transition: 0.25s ease;
}

.btn-secondary {
  background: var(--secondary);
  color: var(--primary);
}

i {
  background: transparent;
  color: var(--primary);
  margin-left: 5px;
}

